.cell.chart > table {
  width: 95%;
  box-sizing: border-box;
  padding-top: 1em;
  height: 100%;
  margin: auto;
  table-layout: fixed;
  min-height: 50px;
}

.cell.chart > table * {
  line-height: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.cell.chart > table > tfoot {
  height: 1px;
}

.cell.chart > table > tfoot td {
  line-height: 1em;
}

.cell.chart > table table {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.cell.chart > table table td {
  padding: 0;
}

.cell.chart > table td {
  vertical-align: bottom;
}

.cell.chart .bar {
  height: 100%;
  padding: 0;
  background: #000;
}

.cell.chart td.info {
  position: relative;
  top: -0.75em;
  line-height: 0;
}