.cell.grid {
  width: 100%;
  height: 100%;
}

.cell.grid > table {
  border-spacing: 0;
  width: 100%;
  height: 100%;
}

.cell.grid > table > tr > td {
  padding: 0;
}

.cell.grid > table > tr > td > div {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed;
}
