.cell.ticker > div {
  display: inline-block;
  text-align: left;
  overflow: -webkit-marquee;
  white-space: nowrap;
  -webkit-marquee-increment: small;
  -webkit-marquee-speed: 25ms;
  width: 100%;
}

.cell.ticker > div > span {
  display: inline-block;
  height: 100%;
  margin: 0;
  margin-left: 1em;
}