<!DOCTYPE html>
<html>
  <head>
    <script src="http://github.com/pvande/Milk/raw/master/dist/v1.2.0/milk.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/vendor/reqwest.js" type="text/javascript" charset="utf-8"></script>

    <script src="/javascript/application.js" type="text/javascript" charset="utf-8"></script>

    <style>
      html, body, .cell {
        height: 100%;
        width: 100%;
        margin: 0;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0;
      }

      body {
        display: table;
      }

      .cell {
        display: table-cell;
        position: relative;
        text-align: center;
        vertical-align: middle;
      }
    </style>

    <script type="text/javascript" charset="utf-8">
      // Currently supported query string parameters:
      // * config     -- The URL to load for the layout description.
      // * interval   -- The rate at which to poll the config URL, in seconds.
      // * skipLayout -- A flag to bypass automatically building a layout from
      //                 the config URL.
      // * style      -- The name of a built-in visual style for the status
      //                 board, or the URL to an external stylesheet.
      //                 Defaults to 'tranquil'.  Supports multiple.
      window.params = <%= params_to_json %>;

      // Load the visual style for the status board.
      listify(params.style || 'tranquil').forEach(function(style) {
        style = style.replace(/^((?!https?.*$).*)/, function(s) {
          return '/stylesheets/' + style + '.css';
        });
        requireStylesheet(style, true);
      });

      document.onreadystatechange = function() {
        // Wait to act until the document is actually ready.
        if (document.readyState != 'complete') { return }

        // If we've been asked to bypass the actual layout process, stop here.
        // The primary reason for using this option would be to leverage other
        // tools to manipulate the page and layout.
        if (params.skipLayout) return;

        // To build the layout, we need to instantiate a Grid widget inside the
        // `root` element, based on the named config file.
        loadType('grid', function() {
          Tranquil['grid'].call(root, {
            url: '/config?url=' + escape(params.config || ''),
            interval: (parseInt(params.interval) || 30).seconds(),
          });
        });
      };
    </script>
  </head>
  <body>
    <div id="root" class="cell grid"></div>
  </body>
</html>
