<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/application.css" />
    <script src="/javascript/application.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://github.com/ded/reqwest/raw/master/reqwest.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="">
    <div id='layout'></div>
    <script type="text/javascript" charset="utf-8">
      document.body.onload = function() {
        var timeout = 0;

        (function(config) {
          var func = arguments.callee;
          if (func.lastConfig != JSON.stringify(config)) {
            func.lastConfig = JSON.stringify(config);

            (func.lastElements || []).forEach(function(element) {
              if (element.update) { clearInterval(element.update) }
            });

            (config.javascript || []).forEach(requireJavascript);
            (config.stylesheet || []).forEach(requireStylesheet);

            func.lastElements = buildLayout(config.layout);
          }

          setTimeout(function() {
            timeout = 10000;
            reqwest({
              url:'<%= params["config"] %>?callback=?',
              type: 'jsonp',
              success: func
            });
          }, timeout);
        })({});
      };
    </script>
  </body>
</html>
