<!DOCTYPE html>
<html>
  <head>
    <script src="https://github.com/ded/reqwest/raw/master/reqwest.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://github.com/pvande/Milk/raw/master/dist/v1.2.0/milk.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/javascript/application.js" type="text/javascript" charset="utf-8"></script>

    <link rel="stylesheet" href="/stylesheets/application.css" />
    <script type="text/javascript" charset="utf-8">
      window.params = <%= params_to_json %>;

      document.onreadystatechange = function() {
        if (params.skipLayout) return;

        requireJavascript('/javascript/grid.js', function() {
          Tranquil['grid'].call(root, {
            url: '/config?url=' + escape(params.config || ''),
            interval: (parseInt(params.interval) || 30).seconds(),
          });
        });
      };
    </script>
  </head>
  <body>
    <div id="root" class="cell grid"></div>
  </body>
</html>
