@import url('http://fonts.googleapis.com/css?family=Metrophobic:regular');

body {
  font-family: 'Metrophobic', 'Helvetica', 'Arial';
  font-size: 1.75em;
  color: #FFF;
  text-shadow: 2px 2px 2px #777;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(#181820), to(#181820), color-stop(50%, #282829)
  );
}

.cell {
  padding: 0.25em;
}

.cell.grid {
  padding: 0;
}

.cell.calendar > div:first-child {
  padding: 0.2em 0.5em;
  background-color: #933;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cell.calendar > div:last-child {
  padding: 4px 0;
  text-align: left;
  background-color: #433;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cell.calendar > div:last-child > div {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell.chart > table table {
  font-size: 0.8em;
}

.cell.chart > table .bar {
  height: 100%;
  background-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(rgba(0,0,0,0.0)),
    to(rgba(0,0,0,0.3))
  );
}

.cell.chart > table td.info {
  position: relative;
  top: -0.75em;
  line-height: 0;
}

.cell.chart > table :nth-child(6n+1) > table .bar {
  background-color: #1F6298;
}

.cell.chart > table :nth-child(6n+2) > table .bar {
  background-color: #FBD32E;
}

.cell.chart > table :nth-child(6n+3) > table .bar {
  background-color: #B1241C;
}

.cell.chart > table :nth-child(6n+4) > table .bar {
  background-color: #647621;
}

.cell.chart > table :nth-child(6n+5) > table .bar {
  background-color: #8242DB;
}

.cell.chart > table :nth-child(6n+6) > table .bar {
  background-color: #A13A5E;
}

.cell.countdown {
  font-size: 1.5em;
}

.cell.countdown > .event {
  color: #BBB;
  text-shadow: 2px 2px 2px #777;
}

.cell.countdown > .time {
  text-shadow: 2px 2px 2px #777;
  font-weight: bold;
}

.cell.ticker > div {
  display: inline-block;
  width: 100%;
  text-align: left;
  overflow: -webkit-marquee;
  white-space: nowrap;
  -webkit-marquee-increment: small;
  -webkit-marquee-speed: 25ms;
}

.cell.ticker > div > span {
  display: inline-block;
  text-shadow: 2px 2px 2px #777;
  height: 100%;
  margin: 0;
  margin-left: 1em;
}

.cell.table > table {
  width: 95%;
  height: 100%;
  border-radius: 4px;
  border-spacing: 5px;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    from(#222), to(#181818)
  );
  margin: 0 auto;
}

.cell.table > table tr > td {
  vertical-align: middle;
  padding: 5px 10px;
  border-radius: 2px;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(0.0, rgb(50,50,50)),
    color-stop(0.5, rgb(40,40,40)),
    color-stop(0.51, rgb(50,50,50)),
    color-stop(1, rgb(40,40,40))
  );
}

.cell.reservation {
  margin: 10px;
}

.cell.reservation .title {
  text-align: center;
}

.cell.reservation > div:last-child {
  border-color: #EEE;
}

.cell.reservation div.res {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  vertical-align: middle;
  background: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(0, rgba(255,255,255,0.4)),
    color-stop(1, rgba(255,255,255,0))
  );
}
